/* Base */

body,
body *:not(html):not(style):not(br):not(tr):not(code) {
  box-sizing: border-box;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-text-size-adjust: none;
  background-color: #ffffff;
  color: #494e57;
  height: 100%;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

p,
ul,
ol,
blockquote {
  line-height: 1.4;
  text-align: left;
}

strong {
  font-weight: 600;
}

a {
  color: #5e39bf;
}

a img {
  border: none;
}

/* Typography */

h1 {
  color: #171b23;
  font-size: 24px;
  line-height: 1.33;
  font-weight: 600;
  margin-top: 0;
  text-align: left;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  text-align: left;
}

hr {
  border: none;
  height: 1px;
  background-color: #e6e7e8;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  text-align: left;
}

p {
  font-size: 16px;
  margin-top: 0;
  text-align: left;
}

p.sub {
  font-size: 12px;
}

img {
  max-width: 100%;
}

/* Layout */

.wrapper {
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.content {
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Header */

.header {
  padding: 24px;
  max-width: 100vw;
}

.header a {
  text-decoration: none;
}

/* Logo */

.logo {
  height: 45px;
  max-height: 45px;
}

/* Body */

.body {
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.inner-body {
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 570px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 570px;
}

.inner-body a {
  word-break: break-all;
}

/* Footer */

.footer {
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 570px;
  margin: 0 auto;
  padding: 0;
  width: 570px;
}

.footer-cell {
  padding: 32px 24px;
}

.footer p {
  color: #494e57;
  font-size: 12px;
}

.footer a {
  color: #5e39bf;
  text-decoration: underline;
}

/* Tables */

.table table {
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  margin: 30px auto;
  width: 100%;
}

.table th {
  border-bottom: 1px solid #e4e4e7;
  margin: 0;
  padding-bottom: 8px;
}

.table td {
  color: #52525b;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
}

.content-cell {
  max-width: 100vw;
  padding: 32px 24px 8px 24px;
}

/* Buttons */

.action {
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  margin: 30px auto;
  padding: 0;
  text-align: center;
  width: 100%;
  float: unset;
}

.button {
  -webkit-text-size-adjust: none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
}

.button-blue,
.button-primary {
  background-color: #18181b;
  border-bottom: 8px solid #18181b;
  border-left: 18px solid #18181b;
  border-right: 18px solid #18181b;
  border-top: 8px solid #18181b;
}

.button-green,
.button-success {
  background-color: #16a34a;
  border-bottom: 8px solid #16a34a;
  border-left: 18px solid #16a34a;
  border-right: 18px solid #16a34a;
  border-top: 8px solid #16a34a;
}

.button-red,
.button-error {
  background-color: #dc2626;
  border-bottom: 8px solid #dc2626;
  border-left: 18px solid #dc2626;
  border-right: 18px solid #dc2626;
  border-top: 8px solid #dc2626;
}

/* Panels */

.panel {
  border-left: #18181b solid 4px;
  margin: 21px 0;
}

.panel-content {
  background-color: #fafafa;
  color: #52525b;
  padding: 16px;
}

.panel-content p {
  color: #52525b;
}

.panel-item {
  padding: 0;
}

.panel-item p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Utilities */

.break-all {
  word-break: break-all;
}
